<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/css/EditProfileUserCSS.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascript/EditProfileUserJS.js"></script>
</head>
<body>
    <form id="editProfileForm" method="post" action="/user/EditProfileUser" enctype="multipart/form-data">
        <div class="gen">
            <div class="left">
                <img src="/images/logo.jpg" alt="Shop logo">
                <h1 id="logo">MINIM</h1>
                <p>Electronic Devices</p>
            </div>

            <div class="right">
                <h1 id="re">Edit Profile</h1>
                <div class="gen2">
                    <div class="p1">
                        <h2 id="FNH">Full Name</h2>
                        <input type="text" name="FullName" id="FNI" value="<%= user.FullName %>" disabled required>
                        <h2 id="PH">Password</h2>
                        <input type="password" name="Password" id="PI" value="<%= user.Password %>" placeholder="Enter your Password" required>
                        <p id="PV"></p>
                        <h2 id="PH">Confirm Password</h2>
                        <input type="password" name="ConfirmPassword" id="CPI" value="<%= user.Password %>" placeholder="Confirm your Password" required>
                        <p id="CPV"></p>
                    </div>
                    <div class="p2">
                        <h2 id="EmH">Email</h2>
                        <input type="email" name="Email" id="EmI" value="<%= user.Email %>" placeholder="ahmed@gmail.com" required>
                        <p id="EV"></p>

                        <h2 id="AH">Address</h2>
                        <input type="text" name="Address" id="AI" value="<%= user.Address %>" placeholder="Al-Ahly Street, Cairo" required>
                        <p id="AV"></p>
                        <h2 id="PhH">Photo</h2>
                        <input type="file" name="Photo" id="PhI" value="<%= user.Photo %>" required>
                        <p id="PHV"></p>
                    </div>
                </div>
                <div class="BD">
                    <button type="submit" class="EB" name="EditB">Edit</button>
                    <button type="button" onclick="CanFun()" class="CB" name="CancelB">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
